vendor
node_modules
.env
.env.*
.idea
.vscode
storage/*.key
storage/debugbar
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
.git
vendor_data
/.phpunit.result.cache
